// Sprites ripped by A.J. Nitro
// From the game : Shrek: Reekin' Havoc

List((
    texture_width: 514,
    texture_height: 138,
    sprites: [
		// idle right 0 (0)
        (
            x: 0,
            y: 0,
            width: 31,
            height: 47,
        ),
		// idle right 1 (1)
        (
            x: 33,
            y: 0,
            width: 31,
            height: 47,
        ),
		// idle right 2 (2)
        (
            x: 68,
            y: 0,
            width: 31,
            height: 47,
        ),
		// idle right 3 (3)
        (
            x: 103,
            y: 0,
            width: 31,
            height: 47,
        ),
		// idle right 4 (4)
        (
            x: 139,
            y: 0,
            width: 31,
            height: 47,
        ),
		// idle left 0 (5)
        (
            x: 482,
            y: 0,
            width: 31,
            height: 47,
        ),
		// idle left 1 (6)
        (
            x: 449,
            y: 0,
            width: 31,
            height: 47,
        ),
		// idle left 2 (7)
        (
            x: 414,
            y: 0,
            width: 31,
            height: 47,
        ),
		// idle left 1 (8)
        (
            x: 378,
            y: 0,
            width: 31,
            height: 47,
        ),
		// idle left 4 (9)
        (
            x: 343,
            y: 0,
            width: 31,
            height: 47,
        ),
		// walk right 0 (10)
        (
            x: 0,
            y: 51,
            width: 33,
            height: 43,
        ),
		// walk right 1 (11)
        (
            x: 37,
            y: 50,
            width: 39,
            height: 45,
        ),
		// walk right 2 (12)
        (
            x: 82,
            y: 50,
            width: 39,
            height: 44,
        ),
		// walk right 3 (13)
        (
            x: 128,
            y: 49,
            width: 32,
            height: 45,
        ),
		// walk right 4 (14)
        (
            x: 166,
            y: 47,
            width: 29,
            height: 47,
        ),
		// walk right 5 (15)
        (
            x: 196,
            y: 54,
            width: 29,
            height: 41,
        ),
		// walk right 6 (16)
        (
            x: 226,
            y: 53,
            width: 30,
            height: 42,
        ),
		// walk left 0 (17)
        (
            x: 480,
            y: 51,
            width: 33,
            height: 43,
        ),
		// walk left 1 (18)
        (
            x: 437,
            y: 50,
            width: 39,
            height: 45,
        ),
		// walk left 2 (19)
        (
            x: 392,
            y: 50,
            width: 39,
            height: 44,
        ),
		// walk left 3 (20)
        (
            x: 353,
            y: 49,
            width: 32,
            height: 45,
        ),
		// walk left 4 (21)
        (
            x: 318,
            y: 47,
            width: 29,
            height: 47,
        ),
		// walk left 5 (22)
        (
            x: 288,
            y: 54,
            width: 29,
            height: 41,
        ),
		// walk left 6 (23)
        (
            x: 257,
            y: 53,
            width: 30,
            height: 42,
        ),
		// left punch right 0 (24) not used
        (
            x: 0,
            y: 98,
            width: 33,
            height: 39,
        ),
		// left punch right 1 (25) not used
        (
            x: 37,
            y: 95,
            width: 48,
            height: 42,
        ),
		// right punch right 0 (26) not used
        (
            x: 90,
            y: 95,
            width: 31,
            height: 42,
        ),
		// right punch right 1 (27)
        (
            x: 127,
            y: 95,
            width: 45,
            height: 42,
        ),
		// right punch left 0 (28) not used
        (
            x: 480,
            y: 98,
            width: 33,
            height: 39,
        ),
		// right punch left 1 (29) not used
        (
            x: 429,
            y: 95,
            width: 48,
            height: 42,
        ),
		// left punch left 0 (30) not used
        (
            x: 392,
            y: 95,
            width: 31,
            height: 42,
        ),
		// left punch left 1 (31)
        (
            x: 341,
            y: 95,
            width: 45,
            height: 42,
        ),
    ],
))
