(
	axes: {
		"shrek": Emulated(pos: Key(M), neg: Key(K)),
		"guard": Emulated(pos: Key(D), neg: Key(Q)),
  	},
	actions: {
		"shrek_jump": [[Key(O)]],
		"shrek_punch": [[Key(A)]],
		"guard_jump": [[Key(Z)]],
		"guard_punch": [[Key(I)]],
  	},
)
