(
	axes: {
		"shrek": Emulated(pos: Key(Right), neg: Key(Left)),
		"guard": Emulated(pos: Key(D), neg: Key(Q)),
  	},
	actions: {
		"shrek_jump": [[Key(Up)]],
		"shrek_punch": [[Key(A)]],
		"guard_jump": [[Key(Z)]],
  	},
)
